<div class="carousel">
    <div class="carousel-slide">
        <img src="/img/d1.jfif" alt="God's plan">
    </div>
    
    <div class="carousel-slide">
        <img src="/img/a1.jpg" alt="one dance">
    </div>
  </div>
  