<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css"> <!-- Assuming you have this in your head partial -->
</head>
<body>
    <form action="/discography" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="category" value="Discography">
        <div class="form-group">
            <label for="title">Title</label> 
            <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
        </div>

        <div class="form-group">
            <label for="description">Description</label> 
            <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
        </div>

        <div class="form-group">
            <label for="markdown">Markdown</label> 
            <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
        </div>

        <div class="form-group">
            <label for="image">Image</label>
            <input type="file" name="image" id="image" class="form-control" required>
        </div>

        <a href="/" class="btn-cancel">Cancel</a>
        <button type="submit" class="save-new">Save</button>  
    </form>
</body>
</html>
